<h1>Gestion de Stock - Version 2021</h1>

<!--h1>{{#trainer}}</h1>

<h1>{{#course}}</h1>

<h3><i class="fa fa-user"></i>Liste des Candidats</h3>
<ul>
  <li *ngFor="let name of tab">
    {{#name}}
  </li>
</ul>

<h2 align="center">Liste des élèves</h2>
<table class="table" align="center" border="1">
  <tr><th>Nom</th><th>Email</th><th>Age</th></tr>
  <tr *ngFor="let candidate of candidates">
    <td>{{#candidate.#nom|prefixNom}}</td>
    <td>{{#candidate.#email}}</td>
    <td>{{#candidate.#age}}</td>
  </tr>
</table>

<router-outlet></router-outlet-->

<app-navbar></app-navbar>
